{%extends "mainSite/shared/template.html"%}
{% load i18n %}
{%load static%}

{%block title%}
    {%trans "Um mig"%}
{%endblock%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{% static "mainSite/css/about.css" %}"\>

{%endblock%}

{%block content%}
<div id="sub-bodyWrapper">

    <div id="me-wrapper">
        <img id="me" title="{%trans "ég!" %}" src="{% static "mainSite/images/profile.jpg" %}"/>
    </div>
    <div id="viking-wrapper">
        <img id="viking" title="{%trans "sú skjámynd sem ég nota á veraldarvefnum" %}" src="{% static "mainSite/images/viking.jpg" %}"/>
    </div>      
    <div id="about-text">
        {%blocktrans%}

        <h3>Æviágrip</h3>
        <p>

            Magnús Ágúst Magnússon er íslenskur tölvunarstærðfræðingur, forritari, skáld, og draumhugi. 
            Hann er sonur Magnúsar J. Magnússonar, skólastjóra 
            <a href="http://www.barnaskolinn.is/">barnaskólans á Eyrarbakka og stokkseyri</a>
            , og Ágústu Baldursdóttur matráðs. Magnús er fæddur árið 1995 í Reykjavík, en aldist upp á Höfn
            í Hornafirði þar til hann fluttist með foreldrum sínum til Árborgar 2011. Þar stundaði hann nám við 
            <a href="https://www.fsu.is/"> Fjölbrautaskóla Suðurlands </a> 
            og var þar meðal annars virkur meðlimur ritstjórnar nemendafélags skólans,
                tók þátt í <a href="https://is.wikipedia.org/wiki/Morf%C3%ADs">Morfís</a>, 
            og útskrifaðist af náttúrufræðibraut haustið 2014.
                Hann lagði stund á nám við <a href="https://www.ru.is/"></a>Háskólann í Reykjavík</a> og öðlaðist
                BSc gráðu í tölvunarstærðfræði vorið 2018. Magnús gekk í 
            <a href="http://rimur.is/">kvæðamannafélagið Iðunn</a> vorið 2018.

                Magnús býr sem stendur í Hafnarfirði með kærustu sinni og tveim köttum.
</p>

        <h3>Mannlýsing</h3>
        <p>
            Magnús er fjölbreyttur bæði í starfi og áhugamálum. Hann er þögull en skilvirkur, vinnur vel að
            sínum verkefnum, er vinur allra sem það kjósa og sér gott í öllum og öllu. Magnús er rólegur, þolinmóður,
            umburðarlyndur og lætur lítið á sig fá óháð álagi. Magnús hefur ríka þjónustulund og hefur mikin metnað
            fyrir því starfi sem hann vinnur í þágu annarra. Hann er velyrtur, 
            fjöllesinn, og á auðvelt með að koma hugsunum sínum í orð þó þau kunni að verða full mörg á stundum.
            Magnús kann að vera sveimhuga, festa áhuga sinn á oft handahófskenndum en fjölbreyttum hlutum, 
            og hefur mjög frjótt ímyndunarafl.
            skop og kímni sækja auðveldlega á Magnús og sér hann ávallt eitthvað broslegt við umhverfi sitt. Vopnaður 
            fimmaurabröndurum gerir hann það sem hann getur til að skemmta bæði sjálfum sér sem og þeim sem í kringum 
            hann eru og lífga ögn upp á þurru stundirnar í lífinu.  
        </p>

        <h3>Hæfnisvið</h3>
        <p>
            Magnús er menntaður Tölvunarstærðfræðingur, og hefur alla tilgreinda þekkingu sem gráðunni fylgir. Hann 
            hefur mikla reynslu á víðu sviði forritunarmála. Þar má nefna starfsreynsla af <a href="https://www.python.org/">Python</a>, 
            <a href="https://www.w3schools.com/html/">HTML</a>, 
            <a href="https://www.javascript.com/">Javascript</a>, 
            <a href="https://jquery.com/">Jquery</a>, 
            <a href="https://www.w3schools.com/css/">CSS</a>, 
            <a href="https://www.mysql.com/">MySql</a>, og 
            <a href="https://www.postgresql.org">Postgresql</a>. 
            
            Einnig má telja talsverða þekkingu á Java, Bash, 
            Prolog, C++ og C#. Þar að auki hefur hann talsverða áhugamannareynslu á leikjavélunum 
            <a href="https://unity3d.com/">Unity</a> og 
            <a href="https://www.yoyogames.com/gamemaker">GameMaker</a>, 
            ásamt þekkingu á algengum kóðaritlum eins og Visual Studio, Code::blocks, Eclipse, og notepad++.
            <br />
            <br />
            Magnús hefur afburðavald á íslenskri tungu og er ásamt því einnig reiprennandi í ensku. 
            <br />
            <br />
            Magnús hefur mikla óformlega reynslu af ritvinnslu og hefur góða þekkingu af algengum 
            ritlum, t.d 
            <a href="https://products.office.com/en-us/home">Office</a> hugbúnaðarlínunni, 
            <a href="https://www.libreoffice.org/">Libreoffice</a>, 
            <a href="https://www.latex-project.org/">
                <span class="latex">L<sup>a</sup>T<sub>e</sub>X</span>
            </a>, og
            
            svipuðum hugbúnaði. 
            <br />
            <br />
            Magnús hefur reynslu af þjónustustörfum, og hefur hjálpað til m.a á matvagni, og vann tvö sumur á Leifsstöð í 
            farþegaþjónustu <a href="https://www.isavia.is/">ISAVIA</a> yfir háannatímann. 
        </p>

        <h3>Áhugasvið</h3>
        <p>
            Magnús hefur mjög fjölbreytt áhugamál sem flest þó tengjast sköpun á einhvern hátt. 
            Magnús hefur fyrst og fremst áhuga á forritun og tækni, og hefur gaman að því að skapa sér
            verkefni til að skerpa hæfileika sína. Helstu áhugaverkefni hans í forritun eru sköpun 
            <a href="https://gamejolt.com/@Mr_Magnus/games">lítilla tölvuleikja</a>, 
            ýmis handahófskennd örforrit til að auka þekkingu sína á einhverju sviði, tilraunastarfsemi, og fleira í þeim dúr. 
            Þó flest þessara verkefna hyljast djúpt á harða diski tölvunar Heimdalls þá komast sum á <a href="https://github.com/MagnusMagnusson">Git aðgang</a> Magnúsar.

            Magnús hefur einnig ástúð á íslenskri tungu og bókmenntum. Magnús yrkir mikið, og þá helst hefðbundin ljóð sem hann notar
            sem óeiginlega leið til að umorða og endurspegla hugsanir sínar fyrir sjálfum sér. Ásamt því eru einnig talsvert af 
            smásögum skrifaðar af honum. Magnús er orðsmiður og er ákafur fylgjandi hreintungustefnunnar.  
            
            Magnús er skapandi og drífandi og ásamt ofangreindum áhugamálum hefur hann einnig un af tölvuleikjum, málar (þó sem stendur 
            eintómar klessumyndir), bakar 
            mikið, tekur ljósmyndir (og þá helst af blómum í návígi, t.d þá sem er í bakgrunni mmagnusson.net), og eins og áður 
            hefur verið nefnt fær tímabundnar dellur fyrir hinu og þessu. Magnús hefur það að markmiði að reyna hvert áhugavert 
            áhugamál sem fyrir honum verður í það minnsta einu sinni.
        </p>
        
        {%endblocktrans %}
    </div>

</div>
{%endblock%}