{%extends "mainSite/shared/template.html"%}
{% load i18n %}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{% static "mainSite/css/landing.css" %}"\>

{%endblock%}

{%block precontent%}
<div id="heading">
    <h1 class="highlight">{% trans "Magnús Ágúst Magnússon" %}</h1>
    <h2 class="highlight">{% trans "Forritari, skáld, húmoristi." %}</h2>
    <h3 class="highlight">{% trans "Gaman að kynnast þér." %}</h3>
    <h1 id="downArrow">⇩</h1>
</div>
{%endblock%}

{%block content%}
<div id="body-subwrapper">
        <img id="me" src="{% static "mainSite/images/profile.jpg" %}"/>
    <div id="me-arrow">
        <p> {% trans "Ég!" %} </p>
        <p id="arrow"> ➥ </p>
    </div>

    <div id="nutshell">
        <ul >
            <li style="list-style:none" class="bigText">
                <b>{% trans "Ég:" %}</b>
            </li>
            <li>
                {% trans "Er fæddur Hornfirðingur, staðsettur í Hafnarfirði" %}
            </li>
            <li>
                {% trans "Er menntaður tölvunarstærðfræðingur (BSc) frá háskólanum í Reykjavík" %}
            </li>
            <li>
                {% trans "Er reynslumikill í forritun og hubúnaðargerð" %}
            </li>
            <li>
                {% trans "Hef atvinnureynslu bæði af vefforritun og gagnagrunnshönnun" %}
            </li>
            <li>
                {% trans "Hef víða þekkingu á forritunarmálum" %}
            </li>
            <li>
                {% trans "Reiprennandi bæði í íslensku og ensku" %}
            </li>
            <li>
                {% trans "Er mikill dundari og hef fjölbreytt áhugamál" %}
            </li>
            <li>
                {% trans "Bý til litla kjánalega tölvuleiki stundum" %}
            </li>
            <li>
                {% trans "Er ávallt jákvæður og þægilegur í umgengni" %}
            </li>
            <li>
                {% trans "Hef un að ljóðlist og lestri, og yrki mikið" %}
            </li>
            <li>
                {% trans "Er félagi í kvæðamannafélaginu Iðunn" %}
            </li>
            <li>
                {% trans "tek stundum ljósmyndir af blómum í návígi" %}
            </li>
            <li>
                {% trans "get bakað æðislegar súkkulaðitufflur" %}
            </li>
        </ul>
    </div>

</div>
{%endblock%}