{% load i18n %}
<!doctype html>
<html>
    <head>
        {%block base_style%}
        <link rel="stylesheet" href="/static/css/ms_base.css">
            {%block style%}
            {%endblock style%}
        {%endblock base_style%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    </head>
    <body>
        <div>
            <div id="content">
                {%block content%}

                {%endblock content%}
            </div>
        </div>

        <footer>
            {%block footer%}

            {% get_current_language as LANGUAGE_CODE %}
            <a href="#" onclick="
                event.preventDefault();
                const parts = window.location.pathname.split('/').filter(Boolean);
                if (parts.length > 0 && (parts[0] === 'en' || parts[0] === 'is')) {
                parts[0] = parts[0] === 'en' ? 'is' : 'en';
                window.location.pathname = '/' + parts.join('/');
                }
            ">            
            {% if LANGUAGE_CODE == 'is' %}
            Press me for English
            {%else%}
            Ýtið hér fyrir Íslensku
            {%endif%}
            </a>

            {%endblock footer%} 
        </footer>
    </body>
</html>