{%extends "ms_base.html"%}

{%block navbar%}
{%endblock%}

{%block style%}
<link rel="stylesheet" href="static/css/ms_landing.css">
{%endblock style%}

{%block content%}
    <div id="profile_picture_wrapper">

        <div id ="profile_picture"> 
            <img src="/static/img/me.jpg"></img>
    </div>
        <div>
            <h2>Góðan og blessaðan daginn. Ég heiti Magnús Ágúst Magnússon.</h2>
            <p>
                Ég er íslenskur vefforritari sem stundum bý til skemmtilega hluti mér til dundurs. 
            </p>
        </div>
    </div>

    <div id="stuff">
        <div>
            <div>
                
            </div>
            <div>
                
            </div>
        </div>
    </div>

    <div id="counter">
        <p>Þú ert gestur {{order}} af {{count}}.</p>
    </div>


{%endblock content%}