{%extends "ms_base.html"%}

{%block navbar%}
{%endblock%}

{%block style%}
<link rel="stylesheet" href="static/css/ms_landing.css">
{%endblock style%}

{%block content%}
               <div id="profile_picture_wrapper">
                   <div id ="profile_picture"> 
                        <img src="/static/img/pfp_img_2.jpg"></img>
                   </div>
                   <div>
                       <h2>Magnús Á. Magnússon</h2>
                       <p>
                           Hi! I'm an Icelandic software developer mainly focusing on full stack web development. I have been working in the industry in 
                           one shape or another since 2016 both in conventional employment and by freelancing on the side. 
                           
                           I enjoy all sorts of creative pursuits, and the regular game jam when life allows the time. 
                       </p>                       
                       <p>
                            If you've ended up here you're probably interested in my work, so by all means come on in and find out more!
                        </p>
                   </div>
                </div>
                <div id ="landing-navbar">

                    <div class="landing-item">
                        <a href="/about">
                        <img src="/static/img/icons/meeple.png">
                        <b>About</b>
                        </a>
                    </div>
                    <!-- <div class="landing-item">
                        <a href="/games">
                        <img src="/static/img/icons/controller.png">
                        <b>My Games</b>
                        </a>
                    </div>-->  
                    <div class="landing-item">
                        <a href="/contact">
                        <img src="/static/img/icons/email.png">
                        <b>Contact</b>
                        </a>
                    </div>                  
                    <div class="landing-item">
                        <a href="https://github.com/MagnusMagnusson">
                        <img src="/static/img/icons/GitHub-Mark-Light-120px-plus.png">
                        <b>Github</b>
                        </a>
                    </div>
                </div>
{%endblock content%}