{%extends "ms_base.html"%}
{% load i18n %}


{%block navbar%}
{%endblock%}

{%block style%}
<link rel="stylesheet" href="/static/css/ms_landing.css">
{%endblock style%}

{%block content%}
    <div id="profile_picture_wrapper">

        <div id ="profile_picture"> 
            <img src="/static/img/me.jpg"></img>
    </div>
        <div>
            <h2>
                {% blocktrans %}Góðan og blessaðan daginn. Ég heiti <br/>Magnús Á. Magnússon.</h2>{% endblocktrans %}
            <p>
                {% blocktrans %}Ég er íslenskur vefforritari sem stundum bý til skemmtilega hluti mér til dundurs. Ég nota þetta vefsvæði mest megnis sem geymslu
                fyrir persónuleg verkefni, en kannski mun ég setja eitthvað áhugavert hingað inn síðar meir. {% endblocktrans %}
            </p>
        </div>
    </div>

    <div id="counter">
        <p>{% blocktrans %}Þú varst gestur {{order}} af {{count}}.{% endblocktrans %}</p>
    </div>


{%endblock content%}