{%extends "matarast/shared/site.html"%}
{% load i18n %}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{% static "matarast/css/ingredients.css" %}"\>
<link rel="stylesheet" type="text/css" href="{% static "matarast/css/newEntry.css" %}"\>
{%endblock%}

{%block scripts%}
<script>
    var new_ingredient_api = "{% url 'api_new_ingredient' %}";
</script>
<script src="{% static "matarast/js/input_editing.js" %}"></script>
{%endblock%}


{%block content%}
<div>
    <div id="alternative_names">
        {% for language in languages %}
        <input class="name" type="text" placeholder="{{language.name}}" name="{{language.short}}">
        {% endfor %}
    </div>
    <div id="image" class="input">
        <img/>
    </div>
    <input type="url" name="url" id="image_button"
           placeholder="https://example.com"
           pattern="https://.*" size="30">
    <button id="image_submit">Staðfesta</button>
    <div id="description" contenteditable="true" class="input">
        <p>
            Lýsing
        </p>
    </div>
</div>
<div id="foodclass-container">
    <script>
        children = {};
        parents = {};
    </script>
    <h3>Ofnæmisvaldar:</h3>
    {%for class in foodclasses%}
    <div class="foodclass-div">
        <input type="checkbox" class="foodclass-box" name="{{class.id}}" value="true"> {{class.name}}<br>
    </div>
    <script>
        children[{{class.id}}] = []
        parents[{{class.id}}] = []
    </script>
    {%for subclass in class.subclasses.all%}
    <script>
        parents[{{class.id }}].push({{subclass.id }});
        children[{{subclass.id }}].push({{class.id }});
    </script>
    {%endfor%}
    {% endfor %}


</div>
<button id="submit">Vista hráefni</button>
{%endblock%}