:root {
    --light-blue: rgb(117, 228, 243);
    --soft-orange:#eeab8a;
    --deep-purple: #880099;
    --off-gray: #eeeeee;
}

body{
    background-color: var(--off-gray);
    color: var(--deep-purple);
    font-family:Arial, Helvetica, sans-serif;
}

p, b, i{
    font-size:18px;
}

#content{
    width:86%;
    margin-left: 7%;
}

#navbar{
    font-size:1.15em;
}

#navbar li{
    display: inline;
    margin-left:2em;
    font-weight: bold;
}


a{
    text-decoration: underline;
    color:var(--deep-purple);
}



a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.centered{
    margin-left:50%;
    transform:translateX(-50%);
}

.centered-text{
    text-align:center;
}

#stuff, #counter{
    margin-left: 50%;
}

footer {
    border-top: 1px solid var(--deep-purple);
    width: 80%;
    padding-top: 1em;
    margin-left: 10%;
    font-size: 0.8em;
    display: flex;
    bottom: 1em;
    margin-top: 50px;
}