{%extends "matarast/shared/site.html"%}
{% load i18n %}
{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{% static "matarast/css/ingredients.css" %}"\>
<link rel="stylesheet" type="text/css" href="{% static "matarast/css/newEntry.css" %}"\>
{%endblock%}


{%block content%}
<div>
    <h1>{{primaryName}}</h1>
    <div id="alternative_names">
        <p> þekkt sem 
        {% for name in names %}
            {{name.name}}<i>({{name.language.short}})</i>
        {% endfor %}
            </p>
    </div>
    <div id="image">
        <img src="{{ingredient.image}}"/>
    </div>
    <div id="description">
        {% autoescape off %} {{ingredient.description}}{% endautoescape %}
    </div>
</div>
<div id="foodclass-container">
    
    <h3>Ofnæmisvaldar í {{primaryName}}:</h3>
    <ul>
        {%for class in ingredient.classes.all%}
        <li><b>{{class.name}}</b></li>
        {% endfor %}
    </ul>
</div>
{%endblock%}