#left-bar {
    display:none;
}

#right-bar {
    display:none;
}


h1, h2 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.big {
    font-size: 4em;
    width: 100%;
}
.medium {
    font-size: 1.25em;
    width: 100%;
}
.center {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.search-container {
    width: 33%;
    margin-left: 33%;
    height: 2em;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top:.7em;
}

.vcenter{
    margin-top:7em;
}

#search, .login {
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    height: 100%;
    text-align: center;
    font-size: 1.4em;
    font-style: italic;
    color: black;
}

#search:focus, .login:focus {
    outline:none;
}

.confirm {
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1em;
    width: 10em;
    height: 2.5em;
    border-radius: 1em;
    border: none;
    opacity: .9;
    color: white;
    background-color: black;
}

.confirm:focus{
    outline: none;
}

.confirm:hover{
    cursor:pointer;
}

#bodyWrapper{
    background-color:rgba(0,0,0,0)
}