.editing {
    border: 1px solid black;
    background-color: #d8dec7;
}

.input, .input-div{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 3px;
}

#image_button {
    margin-left: -327px;
}

#foodclass-container {
    height: 4em;
    margin-bottom: 2em;
}

.foodclass-box{
    float:left;
}
.foodclass-div {
    margin-right: 10px;
    float: left;
}

.fake-input {
    background-color: white;
}

.amount-div {
    width: 6em;
    float: left;
}

.unit-div {
    width: 10em;
    float: left;
}

.ingredient-name-div {
    float: left;
    width: 20em;
}

.ingredient-div {
    margin-top: -20px;
}

#recipie-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

#ingredient-list-container ul li {
    height: 1.4em;
    margin-bottom: 1em;
}

.fill {
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0);
    border: none;
    height: 100%;
    text-align: center;
    font-size: 1em;
    color: black;
}

.fill:focus {
    outline-offset: 0;
    outline: none;
    margin:0em;
    padding:0em;
}

.ex {
    height: 1em;
    width: 1em;
    color: rgba(0,0,0,0.4);
    font-size: 1.25em;
    /* margin: 0px; */
    padding: 0px;
    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 2px;
    margin-top: 3px;
    margin-left: 0.75em;
    float: left;
}

#description {
    margin-top: 2em;
}

.step-div {
    width: 90%;
    height: 2em;
    margin-top: -2em;
    overflow:hidden;
    float:left
}

#step-container{
    margin-top:2em;
}

.step-div-container .ex {
    margin-left: -2.4em;
    margin-top: -1.1em;
}

#new-step-button {
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: .5em;
    width: 7em;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}

#step-container li {
    margin-top: 2em;
}