body{
    margin:0px;
    padding:0px;
}
#header {
    background-color: #090928;
    width: 100%;
    height: 4em;
    border-bottom: .1em solid white;
    margin-top: -2em;
}


#left-bar {
    height: 100%;
    width: 9em;
    float: left;
    /* padding-right: .4em; */
    background-color: #cc0404;
}

#right-bar {
    height: 100%;
    width: 9em;
    float: right;
    /* padding-right: .4em; */
    background-color: #cc0404;
}
