<!DOCTYPE html>
{% load i18n %}
{%load static%}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
    {%block title%}
      Matur fyrir alla
    {%endblock%}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "matarast/css/site.css" %}"\>
    {%block style%}    
    {%endblock%}
</head>
<body>
    <div id="container">
        <div id="header">

        </div><div class="v-divide">
</div>
        <div id="left-bar"></div>
        <div id="right-bar"></div>
        <div id="bodyWrapper">
            {%block content%}
            {%endblock%}
        </div>



        
    </div>
</body>
</html>