<!DOCTYPE html>
{% load i18n %}
{%load static%}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
    {%block title%}
      Matur fyrir alla
    {%endblock%}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "matarast/css/site.css" %}"\>
    {%block style%}
    {%endblock%}
    <script src="{% static "matarast/js/jquery.min.js" %}"></script>
    <script src="{% static "matarast/js/site.js" %}"></script>
    {%block scripts%}    
    {%endblock%}
    {%block globals%}
    {%endblock%}
</head>
<body>
    {% csrf_token %}
    <div id="container">
        <div id="header">

        </div><div class="v-divide">
</div>

        <div id="bodyWrapper">
            {%block content%}
            {%endblock%}
        </div>



        
    </div>
</body>
</html>