<!DOCTYPE html>
{% load i18n %}
{%load static%}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>
    {%block title%}
        Magnús Magnússon
    {%endblock%}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "mainSite/css/site.css" %}"\>
    {%block style%}    
    {%endblock%}
</head>
<body>
    <div id="header">
        <div id="Navbar">
            <ul>
                <li>
                    <a href="#">{%trans "Hafðu Samband" %}</a>
                    <div></div>
                </li>
                <li>
                    <a href="#">{%trans "Verkefnin Mín" %}</a>
                    <div></div>
                </li>
                <li>
                    <a href="#">{%trans "Um Mig" %}</a>
                    <div></div>
                </li>
                <li>
                    <a href="#">{%trans "Heim" %}</a>
                    <div></div>
                </li>
            </ul>
        </div>

    </div>
    <div id="overlay"></div>    
    {%block precontent%}
    {%endblock%}
    <div id="bodyWrapper">
        {%block content%}
        {%endblock%}
    </div>
    
</body>
</html>